{#
/**
* @file
* Template for professional-card component.
*/
#}

{# Start of Professional Card #}
<div class="rounded"> {# Adjusted column width #}
<div class="card h-100 shadow d-flex text-center justify-content-center align-items-center p-3 bg-dark rounded-lg flex-column">
  {# Profile Image #}
  {% if content.user_picture is not empty %}
    <div class="person-img rounded">
      <img
        src="{{ file_url(content.user_picture.entity.uri.value) }}"
        alt="{{ content.user_picture.alt }}"
        class="rounded-circle img-fluid"
      />
    </div>
  {% else %}
    <div class="person-img rounded">
      <img
        src="{{ file_url('public://pictures/default-image.jpg') }}"
        alt="Default profile image"
        class="rounded-circle img-fluid"
      />
    </div>
  {% endif %}

  {# Name #}
  <div class="person-name my-2">
    <h3 class="text-white">{{ content.field_full_name.value }}</h3>
  </div>

  {# Role Title #}
  <div class="info">
    <h6 class="text-white">{{ content.field_role_title.0.value }}</h6>
  </div>

  {# Card Footer with Button #}
  <div class="card-footer bg-transparent border-0 mt-2">
    <a href="{{ url }}" class="btn btn-outline-light btn-sm">View Profile</a>
  </div>
</div>
</div>

{# End of Professional Card #}

{# {{ dump(content) }} #}