{#
/**
* @file
* Template for professional-card component.
*/
#}

<div class="container professional-card">
    {# {{ content }} #}
    {# <div class="row">
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
  
          <h2>Heading</h2>
          <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
          <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 --> #}

        <!-- Start of Professional Card -->
				<div class="col-lg-3 col-md-4 col-sm-3 rounded">
					<div
						class="shadow d-flex justify-content-center align-items-center p-3 bg-dark rounded-lg flex-column"
					>
						<div class="person-img rounded">
							<img
								src="{{ file_url(content.field_image['#items'].0.entity.uri.value) }}"
                                {# src="https://bid-site.ddev.site/sites/default/files/pictures/default-image.jpg" #}
								alt="{{ content.field_image['#items'].0.alt }}"
								class="rounded-circle img-fluid"
							/>
						</div>
						<div class="person-name my-2">
							<h3 class="text-white">{{ label }}</h3>
						</div>
						<div class="info">
							<h6 class="text-white">{{ content.field_role_title }}</h6>
						</div>
						{# <div class="social-icons">
							<a href="#" class="text-white"
								><i class="fa fa-facebook p-2" aria-hidden="true"> </i>
							</a>
							<a href="#" class="text-white"
								><i class="fa fa-twitter p-2" aria-hidden="true"> </i>
							</a>
							<a href="#" class="text-white"
								><i class="fa fa-instagram p-2" aria-hidden="true"> </i>
							</a>
						</div> #}
					</div>
				</div>
				<!-- End of Professional Card -->

                {# {% if content.field_image['#items'] is not empty %}
                    <div class="profile-image-wrapper">
                        <img 
                          src="{{ file_url(content.field_image['#items'].0.entity.uri.value) }}" 
                          alt="{{ content.field_image['#items'].0.alt }}" 
                          class="rounded-circle img-fluid"
                        >
                      </div>
                      {% else %}
                        <div class="profile-image-wrapper">
                          <img 
                            src="{{ file_url('public://pictures/default-image.jpg') }}" 
                            alt="Default profile image" 
                            class="rounded-circle img-fluid"
                          >
                        </div>
                      {% endif %}
         #}
        
</div>



{# <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100 shadow-lg border-0 bg-dark text-white rounded-3 overflow-hidden"> #}
      {# Card Image #}
      {# <div class="person-img p-3 d-flex justify-content-center align-items-center">
        <img
          src="{{ file_url(content.field_image['#items'].0.entity.uri.value) }}"
          alt="{{ content.field_image['#items'].0.alt }}"
          class="rounded-circle img-fluid"
          style="width: 150px; height: 150px; object-fit: cover;"
        />
      </div>
   #}
      {# Card Body #}
      {# <div class="card-body text-center">
        <h3 class="card-title text-white mb-2">{{ label }}</h3>
        <h6 class="card-subtitle text-muted mb-3">{{ content.field_role_title }}</h6>
      </div> #}
  
      {# Optional: Add a hover effect #}
      {# <div class="card-footer bg-transparent border-0">
        <a href="#" class="btn btn-outline-light btn-sm">View Profile</a>
      </div>
    </div>
  </div> #}